@media only screen and (min-width : 800px){
    header{
        background-color: #CAF2FF;
        margin: 0;
        padding: 0;
        width:100%;
    }
    .phone-menu{
        display: none;
    }
    .container1{
        display: flex;
        flex-direction: row;
        height:20%;
        max-height: 150px;
        position: absolute;
        top: 0;
    }
    .logo{
        width: 30%;
        height: 100%;
        max-width: 150px;
    }
    .head-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-anchor{
        text-decoration: none;
        color: black;
    }
    .zoo-name{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70%;
        width:93%;
        font-size: 1.5vw;
    }
    .navbar{
        background-color: #6FA400;
        border-radius: 17px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 35%;
        font-size: 1.7vw;
    }
    .nav-item{
        text-decoration: none;
        color: black;
    }
    .dropdown{
        float:left;
        overflow: hidden;
    }
    hr{
        width:100%;
        border-color: black;
    }
    .dropbtn{
        background-color: #6FA400;
        border: none;
        font-family: "Lancelot";
        font-size: 1.5vw;
    }
    .dropdown-content{
        display:none;
        position: absolute;
        min-width: 160px;
        border:1px solid black;
        border-radius: 5px;
        z-index: 1;
    }
    .dropdown-content a{
        text-decoration: none;
        color:black;
    }
    #dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -5%;
        background-color: #6FA400;
        color:black;
    }
    body{
        background-color: #8F7A6E;
        margin:0;
        margin-top:16.5vh;
        font-family: "Lancelot";
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115vh;
    }
    .frame{
        background-color:aliceblue;
        width: 80%;
        height: 800%;
        padding-bottom:1%;
    }
    .image-hotspot{
        margin:0 auto;
        position: relative; 
    }
    .icon{
        width: 21px;
        height: 21px;
        border-radius: 100%;
        border: 3px solid #fff;
        background: purple;
        cursor: pointer;
    }
    .icon:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: none;
        content: "";
        display: block;
        width: 26.4px;
        height: 26.4px;
        border-radius: 100%;
        border:1px solid purple;
        transition: border-color 1s linear;
        animation: icon-pulse 4s linear infinite;
    }
    @keyframes icon-pulse{
        0%{
            transform: translate(-50%, -50%) scale(1,1);
            opacity: 0;
        }

        20%{
            transform: translate(-50%, -50%) scale(1.5,1.5);
            opacity: .9;
        }

        50%{
            transform: translate(-50%, -50%) scale(2,2);
            opacity: 0;
        }
        100%{
            transform: translate(-50%, -50%) scale(2,2);
            opacity: 0;
        }
    }
    .item{
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .item:hover .tooltip{
        opacity: 1;
    }
    .tooltip{
        position: absolute;
        padding: 15px;
        width: 9.5em;
        height: 4.5em;
        background-color: #6FA400;
        color: black;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.1s linear;  
    }
    h1{
        font-size: 2.5vw;
    }
    .phoneimg{
        display: none;
    }
    .container3{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width:100%;
        height: 100vh;
        background-color: #6FA400;
    }
    .credit{
        text-decoration: underline;
    }
}







@media only screen and (max-width : 799px) {
    header{
        background-color: #CAF2FF;
        margin: 0;
        padding: 0;
        width:100%;
    }
    .phone-menu{
        display: none;
    }
    .container1{
        display: flex;
        flex-direction: row;
        height:20%;
        max-height: 150px;
        position: fixed;
        top: 0;
    }
    .logo{
        width: 30%;
        height: 100%;
        max-width: 150px;
    }
    .head-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-anchor{
        text-decoration: none;
        color: black;
    }
    .zoo-name{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70%;
        width:93%;
        font-size: 1.5vw;
    }
    .navbar{
        background-color: #6FA400;
        border-radius: 17px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 35%;
        font-size: 1.7vw;
    }
    .nav-item{
        text-decoration: none;
        color: black;
    }
    .dropdown{
        float:left;
        overflow: hidden;
    }
    hr{
        width:100%;
        border-color: black;
    }
    .dropbtn{
        background-color: #6FA400;
        border: none;
        font-family: "Lancelot";
        font-size: 1.5vw;
    }
    .dropdown-content{
        display:none;
        position: absolute;
        min-width: 100px;
        border:1px solid black;
        border-radius: 5px;
        z-index: 1;
    }
    .dropdown-content a{
        text-decoration: none;
        color:black;
    }
    #dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -5%;
        background-color: #6FA400;
        color:black;
    }
    body{
        background-color: #8F7A6E;
        margin:0;
        margin-top:16.5vh;
        font-family: "Lancelot";
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115vh;
    }
    .frame{
        background-color: #8F7A6E;
        width: 100%;
        height: 800%;
        padding-bottom:1%;
    }
    .image-hotspot{
        margin:0 auto;
        position: relative; 
    }
    .icon{
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 3px solid #fff;
        background: purple;
        cursor: pointer;
    }
    .icon:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: none;
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border:1px solid purple;
        transition: border-color 1s linear;
        animation: icon-pulse 4s linear infinite;
    }
    @keyframes icon-pulse{
        0%{
            transform: translate(-50%, -50%) scale(1,1);
            opacity: 0;
        }

        20%{
            transform: translate(-50%, -50%) scale(1.5,1.5);
            opacity: .9;
        }

        50%{
            transform: translate(-50%, -50%) scale(2,2);
            opacity: 0;
        }
        100%{
            transform: translate(-50%, -50%) scale(2,2);
            opacity: 0;
        }
    }
    .item{
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .item:hover .tooltip{
        opacity: 1;
    }
    .tooltip{
        position: absolute;
        padding: 15px;
        width: 9.5em;
        height: 4.5em;
        background-color: #6FA400;
        color: black;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.1s linear;  
    }
    h1{
        font-size: 2.5vw;
    }
    .phoneimg{
        display: none;
    }
    .container3{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width:100%;
        height: 100vh;
        background-color: #6FA400;
    }
    .credit{
        text-decoration: underline;
    }
}    







@media only screen and (max-width : 480px) {
    header{
        background-color: #CAF2FF;
        margin: 0;
        padding: 0;
        width:100%;
    }
    .container1{
        display: flex;
        flex-direction: row;
        justify-content:flex-start ;
        align-items: center;
        height:20%;
        width:100%;
        max-height: 100px;
        position: fixed;
        top: 0;
    }
    .logo{
        width: 30%;
        height: 100%;
        max-width: 100px;
    }
    .head-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        max-height: 100px;
    }
    .name-anchor{
        font-size: 3.5vh;
    }
    .zoo-name{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        height: 100%;
        width:45%;
        min-width: 150px;
        font-size: 1.5vh;
    }
    .phone-menu{
        display:flex;
    }
    #toggle{
        display:none;
    }
    .navbar{
        display: none;
    }
    .navigation-menu a {
        color: black;
        text-decoration: none;
        transition:all 0.3s;
        text-transform: uppercase;
    }
    .bars {
        margin-right: 10px;
    }
    .navigation-menu {
        background: #6FA400;
        height: 100%;
        width: 90%;
        padding: 10% 0%;
        margin: 0;
        list-style: none;
        text-align: center;
        position: fixed;
        left: -90%;
        top: 0;
        transition: all 0.5s;
        z-index: 1;
        font-size: 45px;
    }
    .navigation-menu li{
        border-bottom:3px solid black;
        padding-top:12%;
    }
    .navigation-menu li:hover {  /* EDIT THIS TO LIGHTGRAY!!!*/
        background: #444;
    }
    label[for="toggle"] {
        cursor: pointer;
        font-size: 30px;
        margin-left: 40px;
    }
    input#toggle:checked + ul.navigation-menu {
        left: 0;
    }
    input#toggle:checked ~ .content {
        right: -45%;
    }
    body{
        background-color: #8F7A6E;
        margin:0;
        margin-top:16.5vh;
        font-family: "Lancelot";
        display:flex;
        justify-content: center;
    }
    .frame{
        background-color: #8f7a6e;
        width: 100%;
        height: 100%;
        padding-bottom:1%;
    }
    h1{
        font-size: 2vh;
    }
    .phoneimg{
        display:flex;
    }
    .image{
        display: none;
    }
    .container3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        width:100%;
        height: 10vh;
        background-color: #6FA400;
        flex-wrap: wrap;
    }
    .credit{
        text-decoration: underline;
        margin: 0% 10%;
    }
    .image-hotspot{
        margin:0 auto;
        position: static; 
    }
    .icon{
        display: none;
    }
    .icon:after{
        display: none;
    }
    
    .item{
        display: none;
    }
}