@media only screen and (min-width : 800px){
    .frame{
        display:grid;
        grid-template-columns: 20% 20% 50%;
        grid-template-rows: 10% auto 37%;
        grid-template-areas: 
            "title title title"
            "image image content"
            "image image schedule";
        grid-gap: 5px;
        padding: 3px;
    }
    .top-header{
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-container{
        grid-area: image;
    }
    .image-container >img{
        object-fit: cover;
        width: 100%;
    }
    .content-container{
        grid-area: content;             /*I flipped these because it would look better */
    }
    .schedule{
        grid-area: schedule;
    }


} 

@media only screen and (max-width : 799px) {
    .frame{
        display:grid;
        grid-template-columns: auto auto 30%;
        grid-template-rows: 10% auto 37%;
        grid-template-areas: 
            "title title title"
            "image image content"
            "schedule schedule schedule";
        grid-gap: 5px;
        padding: 3px;
    }
    .top-header{
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-container{
        grid-area: image;
    }
    .image-container >img{
        object-fit: cover;
        width: 100%;
    }
    .content-container{
        grid-area: content;            
    }
    .schedule{
        grid-area: schedule;
    }

}



@media only screen and (max-width : 480px) {
    .frame{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "title title title"
            "content content content"
            "schedule schedule schedule";
        grid-gap: 0px;
        padding: 0px;
    }
    .top-header{
        grid-area: title;
        display: flex;
        width: 1;
        justify-content: center;
        align-items: center;
    }
    .image-container >img{
        display: none;
    }
    .content-container{
        grid-area: content;
        width:100%;         
    }
    .schedule{
        grid-area: schedule;
    }


}